
body{
	filter:brightness(120%);
	filter:saturate(1.5);
	/* .background-color:black;
	.background:url(diagonales-decalees.png); */
	background:url(../images/header/light_grey_floral_motif.png);
	/* .background-size:cover; */
	overflow-x:hidden;
	margin:0px;
	padding:0px;
}
	
#header_container{
	height:50%;
	background:linear-gradient(to left, rgba(252, 227, 138, 0.7), rgba(243,129,129,0.8), rgba(0, 0, 0, 0.9)), url("../images/header/223qweasd.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}


.content_cover{
	width:90%;
	/* .height:90%; */
	margin-left:5%;
	margin-right:5%;
	margin-top:2%;
	margin-bottom:2%;
	/* .background-color:red; */
}

.event_detail{
	width:100%;
	/* .margin-left:5%;
	.background-color:yellow;
	.height:100%; */
}

.event_detail table{
	/* .background-color:pink; */
	width:100%;
	font-family:Arial;
	font-size:1vw;
	position:relative;
	transform:none;
	left:0px;
	color:black;
	border-spacing: 2px;
	cellpadding:0px;
	margin-bottom:30px;
}

.event_detail table a{
	color:blue;
}

/* .guest{
	.width:30%;
	.margin-right:5%;
	.background-color:blue;
	.height:100%;
} */