body{
	margin:0px;
	padding:0px;
	/* .overflow:hidden; */
}

#cover{
	background: url("cover.jpg") no-repeat;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background-size: 100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}

#start{
	width:34%;
	height:15%;
	position:absolute;
	top:67%;
	left:33%;
	background-color:transparent;
	outline:none;
	font-family:Forte;
	font-size:75px;
	color:yellow;
	box-shadow:0px 0px 15px 3px white;
	border-radius:30px;
	z-index:-1;
}

table{
	width:70%;
	height:65%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	font-family:forte;
	font-size:30px;
	color:white;
	text-align:center;
}

#add{
	background: url("add.jpg") no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:initial;
	background-size:100%;
}

#add input{
	width:80%;
	height:70%;
	margin-bottom:3%;
	font-family:Arial;
	font-size:20px;
	background-color:rgba(0,0,0,0.3);
	border-radius:15px;
	outline:none;
	color:white;
	text-align:center;
}

#add button{
	width:40%;
	height:90%;
	padding:1%;
	background-color:rgba(0,0,0,0.3);
	color: white;
	font-family:forte;
	font-size:40px;
	border-radius:15px;
	outline:none;
	margin-top:3%;
}

#search{
	background: url("search.jpg") no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	top:100%;
	left:0px;
	z-index:initial;
	background-size:100%;
}

#search input{
	width:80%;
	height:30%;
	font-family:Arial;
	font-size:30px;
	background-color:rgba(0,0,0,0.6);
	border-radius:15px;
	outline:none;
	color:white;
	text-align:center;
}

#search button{
	width:300px;
	height:33%;
	font-family:forte;
	font-size:30px;
	background-color:rgba( 212,164,132,0.7);
	border-radius:15px;
	outline:none;
	color:black;
	text-align:center;
	
}

#ud{
	background: url("ud.jpg") no-repeat;
	width:100%;
	height:100%;
	position:absolute;
	top:200%;
	left:0px;
	z-index:initial;
	background-size:100%;
}

#ud table{
	color:black;
}

#ud input, select{
	width:80%;
	height:70%;
	margin-bottom:3%;
	font-family:Arial;
	font-size:20px;
	background-color:rgba(0,0,0,0.5);
	border-radius:15px;
	outline:none;
	color:white;
	text-align:center;
}


#ud button{
	width:40%;
	height:90%;
	padding:1%;
	background-color:rgba(0,0,0,0.3);
	color: yellow;
	font-family:forte;
	font-size:40px;
	border-radius:15px;
	outline:none;
	margin-top:3%;
}

#header{
	position:fixed;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:13%;
}

#header table td{
	width:24%;
}

#header button{
	width:96%;
	height:100%;
	color:Green;
	background-color:rgba(0,250,0,0.5);
	font-family:forte;
	font-size:40px;
	border-radius:15px;
	outline:none;
	box-shadow: 5px 5px 5px black;
	text-shadow: 2px 2px white;
}

#back{
	background-image: url("triangle-2790346_1280.png");
	background-size:cover;
	background-repeat: no-repeat;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
}

#back2{
	background-image: url("triangle-2724449.png");
	background-size:cover;
	background-repeat: no-repeat;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-1;
}






